VITE_R2_ACCESS_KEY_ID=your_access_key_id
VITE_R2_SECRET_ACCESS_KEY=your_secret_access_key
VITE_R2_ACCOUNT_ID=your_account_id
VITE_R2_BUCKET_NAME_AUDIO=your_audio_bucket_name
VITE_R2_BUCKET_NAME_VIDEO=your_video_bucket_name
VITE_R2_PUBLIC_URL_AUDIO=https://your-audio-domain.com
VITE_R2_PUBLIC_URL_VIDEO=https://your-video-domain.com
